.jumbotron  {
    background: rgb(0, 0, 138);
    color: whitesmoke;
    box-shadow: 2px 5px 15px black;
    margin-bottom: 50px;
}

.employee-card {
    margin-left: 20px;
    margin-right: 20px;
}

.card-header{
    background:rgb(0, 0, 138);
    color: whitesmoke;
}

.employee-card  {
    border-style: solid;
    border-width: 1px;
    border-color  rgb(0, 0, 138);  
    background: rgb(0, 0, 138);
    box-shadow: 2px 5px 15px 2px grey;
    font-size: 18px;
}